# Topics

# Notes
1. JSON = JavaScript Object Notation

# Mistakes and Improvements

In [1]:
import pandas as pd
import sys

# To get a n rows from top and store it in dataframe...using nrows

In [2]:
nrows_df = pd.read_csv("heart-disease.csv",nrows=15)
# pd.options.display.max_rows = 16 ?
nrows_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1

In [3]:
# Rarely used
chunk_df = pd.read_csv("heart-disease.csv" , chunksize=100)
chunk_df

## The exported dataframe includes row index also...and how to solve it

In [4]:
nrows_df.to_csv("top15rowswrite.csv")

In [5]:
expo_df = pd.read_csv("top15rowswrite.csv")
expo_df

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1

In [6]:
# Write index=False , then it won't include index
nrows_df.to_csv("top15rows_withoutindex_write.csv" , index=False)

In [7]:
exp_df2 = pd.read_csv("top15rows_withoutindex_write.csv")
exp_df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1

In [8]:
nrows_df.to_csv("top15rows_withoutindex_withouheader_write.csv" , index=False, header=False)

In [9]:
# In csv by default it will take first row as header
exp_df3 = pd.read_csv("top15rows_withoutindex_withouheader_write.csv")
exp_df3

    63  1  3  145  233  1.1  0  150  0.1  2.3  0.2  0.3  1.2  1.3
0   37  1  2  130  250    0  1  187    0  3.5    0    0    2    1
1   41  0  1  130  204    0  0  172    0  1.4    2    0    2    1
2   56  1  1  120  236    0  1  178    0  0.8    2    0    2    1
3   57  0  0  120  354    0  1  163    1  0.6    2    0    2    1
4   57  1  0  140  192    0  1  148    0  0.4    1    0    1    1
5   56  0  1  140  294    0  0  153    0  1.3    1    0    2    1
6   44  1  1  120  263    0  1  173    0  0.0    2    0    3    1
7   52  1  2  172  199    1  1  162    0  0.5    2    0    3    1
8   57  1  2  150  168    0  1  174    0  1.6    2    0    2    1
9   54  1  0  140  239    0  1  160    0  1.2    2    0    2    1
10  48  0  2  130  275    0  1  139    0  0.2    2    0    2    1
11  49  1  1  130  266    0  1  171    0  0.6    2    0    2    1
12  64  1  3  110  211    0  0  144    1  1.8    1    0    2    1
13  58  0  3  150  283    1  0  162    0  1.0    2    0    2    1

In [10]:
# For only data type header=None
exp_df3 = pd.read_csv("top15rows_withoutindex_withouheader_write.csv", header=None)
exp_df3

    0   1   2    3    4   5   6    7   8    9   10  11  12  13
0   63   1   3  145  233   1   0  150   0  2.3   0   0   1   1
1   37   1   2  130  250   0   1  187   0  3.5   0   0   2   1
2   41   0   1  130  204   0   0  172   0  1.4   2   0   2   1
3   56   1   1  120  236   0   1  178   0  0.8   2   0   2   1
4   57   0   0  120  354   0   1  163   1  0.6   2   0   2   1
5   57   1   0  140  192   0   1  148   0  0.4   1   0   1   1
6   56   0   1  140  294   0   0  153   0  1.3   1   0   2   1
7   44   1   1  120  263   0   1  173   0  0.0   2   0   3   1
8   52   1   2  172  199   1   1  162   0  0.5   2   0   3   1
9   57   1   2  150  168   0   1  174   0  1.6   2   0   2   1
10  54   1   0  140  239   0   1  160   0  1.2   2   0   2   1
11  48   0   2  130  275   0   1  139   0  0.2   2   0   2   1
12  49   1   1  130  266   0   1  171   0  0.6   2   0   2   1
13  64   1   3  110  211   0   0  144   1  1.8   1   0   2   1
14  58   0   3  150  283   1   0  162   0  1.0   2   0   2   1

In [11]:
# To give seperator as required in a string and watch result in notepad
nrows_df.to_csv("top15rowswrite_newsep.csv", sep='@', index=False)

In [12]:
newsep_df = pd.read_csv("top15rowswrite_newsep.csv",sep='@')
newsep_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1

## Replace all null values with the desired value

In [13]:
df_rutul = pd.read_csv("rutul.csv", skiprows=[7])
df_rutul

       Name  Number       Food
0     Rutul     1.0   Sandwich
1   Hrithik     2.0    Vadapav
2      Yash     3.0     Faluda
3     Karan     4.0      Toast
4  Vaishvik     5.0  Pani-puri
5       Jay     NaN        NaN

In [14]:
# This is just for knowledge...we usually use different imputers instead of this 
temp = df_rutul.to_csv(sys.stdout, na_rep=45)

,Name,Number,Food
0,Rutul,1.0,Sandwich
1,Hrithik,2.0,Vadapav
2,Yash,3.0,Faluda
3,Karan,4.0,Toast
4,Vaishvik,5.0,Pani-puri
5,Jay,45,45

In [15]:
# Why not giving output ?
df_rutul.to_csv("renamed_columns.csv", index=False, columns=['a','b','c'])

KeyError: "None of [Index(['a', 'b', 'c'], dtype='object')] are in the [columns]"

## Generate Dates

In [16]:
# DD/MM/YYYY format
dates = pd.date_range('1/1/2020' , periods = 8)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [17]:
import numpy as np
np.arange(5)

array([0, 1, 2, 3, 4])

In [18]:
ts = pd.Series(np.arange(8), index=dates)
ts

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
2020-01-08    7
Freq: D, dtype: int32

## Store each row as individual list

In [19]:
# Less used approach
import csv
f = open('exp.csv')
reader = csv.reader(f)
# This list convesion operation has to be done here in this cell only
my_list = list(reader)
# reader is an iterable object

In [20]:
for i in reader:
    print(i)

In [21]:
my_list

[['a', 'b', 'c'], ['1', '2', '3'], ['4', '5', '6']]

In [22]:
my_list[0][0]

'a'

In [23]:
# Below both cells perform same operation
x = 1
y = "hello"
z = 50

In [24]:
x,y,z = 1,"hello",50

In [25]:
header, values = my_list[0], my_list[1::1]

In [26]:
header

['a', 'b', 'c']

In [27]:
values

[['1', '2', '3'], ['4', '5', '6']]

In [28]:
zip(values)

In [29]:
list(zip(values))

[(['1', '2', '3'],), (['4', '5', '6'],)]

In [30]:
# Perform mapping 
list(zip(*values))

[('1', '4'), ('2', '5'), ('3', '6')]

In [31]:
list(zip(header, zip(*values)))

[('a', ('1', '4')), ('b', ('2', '5')), ('c', ('3', '6'))]

In [32]:
# Store above as dictionary to perform any kind of data manipulation
data_dict = {h: v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '4'), 'b': ('2', '5'), 'c': ('3', '6')}

In [33]:
l1 = [1,4,6,2]
l2 = [3,6,6,9]
zip(l1,l2)

In [34]:
list(zip(l1,l2))

[(1, 3), (4, 6), (6, 6), (2, 9)]

In [35]:
data_dict2 = {h:v for h,v in zip(l1,l2)}
data_dict2

{1: 3, 4: 6, 6: 6, 2: 9}

## JSON Data
Sometimes JSON data is complex and hard to understand. So, we can view data in online JSON viewer to understand it better.

In [36]:
obj = """
{ "name":"Wes",
  "places_lived": ["United States", "Spain", "Germany"],
  "pet": null,
  "siblings": [{"name": "Scott", "age": 30, "pets":["zeus","zuko"]},
               {"name": "Katie", "age": 38,
                "pets": ["Sixes", "Cisco"]}]
}
"""
type(obj)

str

In [37]:
# Use loads to convert JSON data from string to dictionary
import json
result = json.loads(obj)
type(result)

dict

In [38]:
# Use dumps to convert JSON data from dictionary to string
asjson =  json.dumps(result)
type(asjson)

str

In [39]:
result['siblings']
# It has two dictionaries

[{'name': 'Scott', 'age': 30, 'pets': ['zeus', 'zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Cisco']}]

In [40]:
# In siblings we are interested in only age and pets column
siblings = pd.DataFrame(result['siblings'], columns=['age','pets'])
siblings

   age            pets
0   30    [zeus, zuko]
1   38  [Sixes, Cisco]

### Created testjson file in notepad

In [41]:
json_df = pd.read_json("testjson.json")
json_df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [42]:
json_df.to_json()

'{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}'

### Notice difference in below two cells

In [43]:
# Pronounce like a column ma 0th row ma 1 che, 1st row ma 4, and so on

# 1st method
print(json_df.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [44]:
# This is similar to notepad

# 2nd method
print(json_df.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

## HTML and XML Web Scrapping

In [45]:
html_df = pd.read_html("fdic_failed_bank_list.html")
len(tables)
failures = tables[0]
failures.head()

ValueError: No tables found

## Binary Data Formats
Here it will try to perform serde operations i.e. 
1. convert object to byte-code format using pickle...This is aka serialization or write
2. convert byte-code to object format using pickle...This is aka deserialization or read

In [46]:
frame = pd.read_csv("name.csv")
frame
frame.to_pickle('frame_pickle')

FileNotFoundError: [Errno 2] File name.csv does not exist: 'name.csv'

In [47]:
pd.read_pickle['frame_pickle']
# There are other formats like HD5 and others for Binary also

TypeError: 'function' object is not subscriptable

## Basic DataFrame Creation

In [48]:
l1 = [2,4,8,1]
l2 = [7,2,4,9]
df = pd.DataFrame({ 'Column_1' : l1, 'Column_2' : l2 , 'Column_3' : np.random.randn(4)})
df

   Column_1  Column_2  Column_3
0         2         7 -0.307578
1         4         2 -0.175247
2         8         4 -0.607419
3         1         9 -0.230560

## Web APIs  (requires internet)
In simple terms, API is a connectivity between two homogeneous or heterogeneous(like one in python and other in java) systems which will take request and will give you response. We can not build any application without API as every system will be different system, so we have to establish channel or communication between them using API.

In [49]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

ConnectionError: HTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/pandas-dev/pandas/issues (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000000008DEAF88>: Failed to establish a new connection: [Errno 11004] getaddrinfo failed'))

In [50]:
data = resp.json()
data[2]['user']

NameError: name 'resp' is not defined

In [51]:
# Use online jsonviewer
# Get all data in 'user' 'id'
l = []
for i in range(len(data)):
    l.append(data[i]['user']['id'])
l

NameError: name 'data' is not defined